.project-wrapper {
    padding: 20px;
}

.project-title {
    font-size: 30px;
    font-weight: 600;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}

.project-stores {
    display: flex;
    gap: 32px;
}

.project-stores a img {
    height: 30px;
    width: auto;
}

.project-stores a img:nth-child(2) {
    height: 60px;
    width: auto;
}

.project-date {
    margin-top: 32px;
    color: #808080;
    font-size: 18px;
}

.project-description {
    margin-top: 32px;
    font-size: 20px;
    text-align: justify;
}

.video-container {
    position: relative;
    border: 1px solid #3D3D3D;
    height: 620px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 32px;
}

.screenshots-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 48px;
}


.screenshots-grid {
    display: grid;
    margin-top: 32px;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.project-container {
    position: relative;
    aspect-ratio: 1904/3904;
    width: calc(1220px/6);
}

.project-screenshot {
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
}

.iphone-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-screenshot img {
    object-fit: cover;
    border-radius: 30px;
    height: 100%;
    width: auto;
}

.iphone-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.screenshot-description {
    color: #808080;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}