.project-wrapper {
    padding: 20px;
}

.project-title {
    font-size: 30px;
    font-weight: 600;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}

.project-stores {
    display: flex;
    gap: 32px;
}

.project-stores a img {
    height: 30px;
    width: auto;
}

.project-stores a img:nth-child(2) {
    height: 60px;
    width: auto;
}

.project-date {
    margin-top: 32px;
    color: #808080;
    font-size: 18px;
}

.project-description {
    margin-top: 32px;
    font-size: 20px;
    text-align: justify;
}

.video-container {
    position: relative;
    border: 1px solid #3D3D3D;
    height: 620px;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 32px;
}

.screenshots-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 48px;
}


.screenshots-grid {
    display: grid;
    margin-top: 32px;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.project-container {
    position: relative;
    aspect-ratio: 1904/3904;
    width: calc(1220px/6);
}

.project-screenshot {
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
}

.iphone-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-screenshot img {
    object-fit: cover;
    border-radius: 30px;
    height: 100%;
    width: auto;
}

.iphone-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.screenshot-description {
    color: #808080;
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
    text-align: center;
}

.core-metrics-container {
    display: flex;
    gap: 32px;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 32px;
}

.core-metrics-item {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 20px;
}

.rating-media {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    margin-top: 32px;
}

.rating-media-stars {
    display: flex;
    gap: 3px;
}

.testimonials-grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.testimonial-item {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #fff;
    border-radius: 20px;
    gap: 10px;
}

.testimonial-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.testimonial-header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-header-text {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.testimonial-name {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.testimonial-verified-container {
    display: flex;
    gap: 6px;
    color: #808080;
    font-size: 14px;
    align-items: center;
}

.testimonial-rating-container {
    display: flex;
    gap: 6px;
    color: #808080;
    font-size: 10px;
    align-items: center;
}

.testimonial-comment {
    font-size: 20px;
    text-align: justify;
    color: #000;
}